<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>VueJS Net Ninja | 2-Way Data Binding</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
        #canvas {
            width: 600px;
            padding: 200px;
            text-align: center;
            border: 1px solid #333;
            margin: 1rem 0;
        }
    </style>

  </head>
  <body>
    <div id="app">
        <h1>2-Way Data Binding</h1>
        <label>Name:</label>
        <input type="text" v-model="name">
        <label>Age:</label>
        <input type="text" v-model="age">

        <table style="margin-top: 2rem;">
            <tbody>
            <tr>
                <td>Name: </td>
                <td>{{name}}</td>
            </tr>
            <tr>
                <td>Age: </td>
                <td>{{age}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- built files will be auto injected -->
    <script src="main.js"></script>
  </body>
</html>
